@use './core.scss';

body {
	width: 100%;
	max-width: var(--page-width);
	margin: 0 auto;
	padding: 0 1rem;
	font-family: Arial, helvetica, sans-serif;
	background-color: var(--color-bg);
	color: var(--color-text);
}

.body--modal-open {
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: underline;
}

img {
	max-width: 100%;
}

input[type="text"],
textarea {
	border: 2px solid var(--color-input-border);
	border-radius: 0;
	background-color: transparent;
	padding: 4px;
}

.btn {
	display: inline-block;
	background-color: var(--color-btn-bg);
	color: var(--color-btn-text);
	border: none;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	transition: background-color 0.1s;
	font-size: .9rem;
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: var(--color-btn-bg-hover);
	}

	&:active {
		background-color: var(--color-btn-bg-active);
	}
}